{% extends "base.html" %}
{% load i18n menu_tags cms_tags %}

{% block title %}{% page_attribute 'title' %} - {{ project.name }}{% endblock title %}

{% block content %}
	<!-- start: content -->
	<div>
		{% if project %}
			<h1>{{project.name}}</h1>
			<h4>{{project.projectnumber}}</h4>
			<div class="text_container">
				{{project.description|safe}}
			</div>
		{% else %}
			<h1>There are no projects to display!</h1>
		{% endif %}
	</div>
	
	<div class="teaser_col">
		{% placeholder teaser_col %}
	</div>	
	


<!-- end: content -->
{% endblock content %}