{% extends "base.html" %}
{% load i18n cms_tags %}

{% block content %}
	<!-- start: content -->
	<div>
		<h1>Projects</h1>
		{% if object_list %}
			<ul>
				{% for project in object_list %}
					<li><a href="{{project.get_absolute_url}}">{{project.name}} - {{project.projectnumber}}</a></li>
				{% endfor %}			
			</ul>
		{% else %}
			<h1>There are no projects to display!</h1>
		{% endif %}
	</div>
	
<!-- end: content -->
{% endblock content %}

{% block content_footer %}
<h3>Projects footer</h3>
				{% endblock content_footer %}