{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
    <article>
        {% placeholder "content" %}
    </article>
    <aside>
		{% placeholder "sidebar" %}
	</aside>
{% endblock content %}
