{% load cms_tags menu_tags sekizai_tags pipeline i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head>

        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>{% block title %}Jefferson Notaro - Web Consultant & Senior Development{% endblock title %}</title>

	    <!-- CSS -->
	    <link href="{% static "assets/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	    <link href="{% static "assets/css/font-awesome.min.css" %}" rel="stylesheet" media="screen">

        <link href="{% static "assets/css/simple-line-icons.css" %}" rel="stylesheet" media="screen">
	    <link href="{% static "assets/css/animate.css" %}" rel="stylesheet">

	    <!-- Custom styles CSS -->
	    <link href="{% static "assets/css/style.css" %}" rel="stylesheet" media="screen">

        <script src="{% static "assets/js/modernizr.custom.js" %}"></script>

		{% render_block "css" %}


		{% block extrahead %}
		{% endblock extrahead %}

	</head>
	<body>
		{% cms_toolbar %}
		<!-- Preloader -->

        <div id="preloader">
            <div id="status"></div>
        </div>

        <!-- Home start -->

        <section id="home" class="pfblock-image screen-height">
            <div class="home-overlay"></div>
            <div class="intro">
                <div class="start">{% blocktrans %}Hello, my name is Jefferson Notaro and I am{% endblocktrans %}</div>
                <h1>{% trans 'Web Consultant & Senior Developer' %}</h1>
                <div class="start">{% blocktrans %}Working together with you to create modern and responsive Web Applications{% endblocktrans %}</div>
            </div>

            <a href="#services">
            <div class="scroll-down">
                <span>
                    <i class="fa fa-angle-down fa-2x"></i>
                </span>
            </div>
            </a>

        </section>
        <!-- Home end -->

        <!-- Navigation start -->

        <header class="header">

            <nav class="navbar navbar-custom" role="navigation">

                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'pages-root' %}">Jefferson Notaro</a>
                    </div>

                    <div class="collapse navbar-collapse" id="custom-collapse">
                        <!-- MENU -->
                        {% show_menu 0 100 100 100 "project/menu.html" %}

                    </div>

                </div><!-- .container -->

            </nav>

        </header>

        <!-- Navigation end -->
        <section id="services" class="pfblock pfblock-gray">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="pfblock-header wow fadeInUp">
                            <h2 class="pfblock-title">My work</h2>
                            <div class="pfblock-line"></div>
                            <div class="pfblock-subtitle">
                                provide web development, interaction and maintenance services to companies and individuals

                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-3">

                        <div class="iconbox wow slideInLeft">
                            <div class="iconbox-icon">
                                <span class="icon-magic-wand"></span>
                            </div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Web Design</h3>
                                <div class="iconbox-desc">
                                    Customizing website's Design that convey the clients, I realize your design or offer an external service to suit your needs.

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">

                        <div class="iconbox wow slideInLeft">
                            <div class="iconbox-icon">
                                <span class="icon-puzzle"></span>
                            </div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Web Development</h3>
                                <div class="iconbox-desc">
                                    Tools, platforms, frameworks using open source systems to aid in the development. I am working with Django and Python.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">

                        <div class="iconbox wow slideInRight">
                            <div class="iconbox-icon">
                                <span class="icon-badge"></span>
                            </div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Branding</h3>
                                <div class="iconbox-desc">
                                    Analysis and planning on how you business is perceived in the web market and the good relationship with Technologies.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">

                        <div class="iconbox wow slideInRight">
                            <div class="iconbox-icon">
                                <span class="icon-question"></span>
                            </div>
                            <div class="iconbox-text">
                                <h3 class="iconbox-title">Consultation</h3>
                                <div class="iconbox-desc">
                                    Professional, expert advices in the particular area of Web. Strategy, Development cycle and Python Host services.
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!-- .row -->
            </div><!-- .container -->
        </section>

        <!-- CONTENT -->
        {% block content %}
        {% endblock content %}



		<!-- FOOTER -->
        {% include 'project/footer.html' %}
        {% block content_footer %}
        {% endblock content_footer %}
        {% placeholder "ph_content_footer" %}

		{% render_block "js" %}

        <script src="{% static "assets/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "assets/js/jquery.parallax-1.1.3.js" %}"></script>
        <script src="{% static "assets/js/imagesloaded.pkgd.js" %}"></script>
        <script src="{% static "assets/js/jquery.sticky.js" %}"></script>
        <script src="{% static "assets/js/smoothscroll.js" %}"></script>
        <script src="{% static "assets/js/wow.min.js" %}"></script>
        <script src="{% static "assets/js/jquery.easypiechart.js" %}"></script>
        <script src="{% static "assets/js/waypoints.min.js" %}"></script>
        <script src="{% static "assets/js/jquery.cbpQTRotator.js" %}"></script>
        <script src="{% static "assets/js/custom.js" %}"></script>

		{% javascript 'footer_js' %}
		
		

	</body>
</html>